<h1><%= @category.category_name %>列表</h1>
<% @items.each do |item| %>
  <%= image_tag(item.img_url, :width => 250) %>
  <%= item.name %>
  <%= link_to 'show', category_item_path(@category, item) %><br>
<% end %>
<br>
<%= link_to 'back to index', root_path %>
