<div class="table">
  <%= items.each do |f| %>
  <th>
    <td>
      <%= f.name %>
    </td>
    <td>
      <%= f.img_url %>
    </td>
    <td>
      <%= f.manufacture_year %>
    </td>
    <td>
      <%= f.frame %>
    </td>
  </th>
</div>

<% end %>
