<section id="my-cart">
  <!-- #購物車資訊區的購物車商品總數量、購物車總金額 -->
  <strong>你目前選購了 <%= current_cart.total_quantity %> 件商品,預計消費 <%= current_cart.total %> 元</strong>
  <table>
    <!-- 會變動的商品資訊 -->
    <tr>
      <th>商品</th>
      <th>單價</th>
      <th>數量</th>
      <th>小計</th>
    </tr>


    <% current_cart.cart_items.each do |i| %>

    <tr>
      <td><%= i.item.name %></td>
      <td><%= i.item.price %></td>
      <td><%= i.quantity %></td>
      <td><%= i.subtotal %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to '我要結帳!', new_order_path, :class => "btn btn-primary" %>


</section>



<div class="home-banner clearfix">
  <h1>Bike Your Life</h1>
  <%= image_tag ("home_banner_1.jpg") %>
</div>
<div class="clearfix">
  <h3>依廠牌搜尋
    <!-- <%= collection_select(:brand, :brand_id, Brand.all, :id, :brand_name) %> -->
    <% @brands.each do |brand| %>
      <%= link_to brand_items_path(brand) do %>
        <%= brand.brand_name %>
      <% end %>
    <% end %>


    依分類搜尋
    <% @categories.each do |category| %>
      <%= link_to category_items_path(category) do %>
        <%= category.category_name %>
      <% end %>
    <% end %>
  </h3>


  <%= form_tag bulk_compare_items_path do %>
  <% @items.each do |item| %>
  <div class="itemlist">

  <tr>
    <td><%= link_to :action => 'show', :id => item  do %></td>
      <td><p><%= image_tag(item.img_url) %></p></td>
      <td><p> <%= item.name %></p></td>
      <% end %>
        <td><p>出產年份: <%= item.manufacture_year %></p></td>
        <td><p>車架: <%= item.frame %></p></td>
        <td><p>前叉: <%= item.fork %></p></td>
        <td><p>顏色: <%= item.color %></p></td>
        <td><p>Size: <%= item.size %></p></td>
        <td><p>售價:    <strong>NT$<%= item.price %></strong><p></td>
      <div class="compare_box clearfix">
        <td>  <p><%= check_box_tag "ids[]", item.id, false %>加入比較</p></td>
      </div>
        <td><%= link_to "商品詳細", item_path(item), :class => "btn btn-success" %></td>
        <td><%= link_to "加入購物車", add_to_cart_item_path(item), :method => :post, :class => "btn btn-primary", :remote => true %></td>

  </tr>
  </div>
  <% end %>
  </div>

  <div class="compare_btn">
    <%= submit_tag "Compare" %><br>
  </div>


  <% end %>
